.products {
    padding-top: 80px;
    &__cards {
        display: flex;
        gap: 24px;
        align-items: start;
        overflow: auto;
        padding-bottom: 30px;
        &::-webkit-scrollbar {
            width: 12px; /* Scrollbar kengligi */
            height: 12px; /* Gorizontal scrollbar balandligi */
        }

        &::-webkit-scrollbar-track {
            background: #f3f5f7; /* Scrollbar track backgroundi */
            border-radius: 10px; /* Track radiusi */
        }

        &::-webkit-scrollbar-thumb {
            background: #888; /* Scrollbar thumb backgroundi */
            border-radius: 10px; /* Thumb radiusi */
            border: 3px solid #f3f5f7; /* Thumbning track background bilan borderi */
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #555; /* Thumbning hoverdagi backgroundi */
        }
    }
    &__card {
        &__img {
            min-width: 262px;
            height: 350px;
            background: #f3f5f7;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__info {
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 12px 0;
            h3 {
                font-size: 16px;
            }
        }
        &__star {
            color: #343839;
        }
    }
}
